Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
Flask-WTF==0.14.2
WTForms==2.2.1
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
alembic
PyJWT==1.6.1
python-dateutil==2.7.2
psycopg2-binary==2.7.4
Flask-Security==3.0.0
Flask-Principal==0.4.0
Flask-BabelEx==0.9.3
Flask-JWT==0.3.2
Babel==2.5.3