{% extends "base.html" %}
    
{% block title %} <title>Photogram</title>{% endblock%}
{% block main %}
<div id="app">
	 {% with messages = get_flashed_messages()
 %}
   {% if messages %}
     <ul class="flashes">
     {% for message in messages %}
       <li>{{ message }}</li>
     {% endfor %}
     </ul>
   {% endif %}
 {% endwith %}
    <app-header></app-header>
    <dashboard-nav></dashboard-nav>
    <dashboard-header></dashboard-header>
    <main>
        <!-- component matched by the route will render here -->
        <router-view></router-view>
    </main>
    <dashboard-footer></dashboard-footer>
</div>
{% endblock %}
